{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/hijack.css' %}" media="screen">
    <div id="hijacked-warning" class="alert alert-dismissible hijacked-warning hijacked-warning-bootstrap" role="alert">
        You are currently working on behalf of {{ request.user }}.
        <div class="hijacked-warning-controls">
            <form action="{% url 'hijack:release' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-default btn-sm django-hijack-button-default">Stop Impersonating</button>
            </form>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
{% endblock content %}
