{% if user.is_authenticated %}
<ul class="nav navbar-nav navbar-right text-right {{ tags }}">
    <li class="{% block createselactive %}{% endblock %}"><a href="{% url 'website:create_selection' %}" title="New Project Selection"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="sr-only">New Project</span> Selection</a></li>
    <li class="{% block listselectionsactive %}{% endblock %}"><a href="{% url 'website:list_selections' %}" title="List Project Selections"><span class="glyphicon glyphicon-list" aria-hidden="true"></span><span class="sr-only">List</span> Selections</a></li>
    <li class="{% block listtransformsactive %}{% endblock %}"><a href="{% url 'website:list_transforms' %}" title="List Project Transforms"><span class="glyphicon glyphicon-list" aria-hidden="true"></span><span class="sr-only">List</span> Transforms</a></li>
</ul>
{% endif %}
