{% extends "website/base.html" %}
{% block title %}Project Transform{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {% include 'website/messages.html' %}
            <h3>Project Transform</h3>
            <form class="form form-default" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'website/form.html' %}
                <button type="submit" class="btn btn-primary pull-right">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
