{% extends 'website/base.html' %}
{% block title %}Funding{% endblock %}
{% block fundingactive %}active{% endblock %}
{% block body %}
    <div class="container">
        {% include 'website/messages.html' %}
        <div class="row">
            <div class="col-xs-12">
                <h1>Funding</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>PAClab's team is very thankful for the financial support provided to it.<p>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-xs-4 col-md-2" align="center">
                <img alt="NSF logo" src="https://www.nsf.gov/images/logos/nsf1.gif" class="img-responsive"/>
            </div>
            <div class="col-xs-8 col-md-10">
                <p>This project is partially supported by the U.S. National Science Foundation (NSF) under the following grants:</p>
                <ul>
                    <li>CNS-18-23357: <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1823357">CRI: CI-P: Collaborative: Towards a Program Analysis Collaboratory</a>. PI: Elena Sherman (2018-2020)</li>
                    <li>CNS-18-23294: <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1823294">CRI: CI-P: Collaborative: Towards a Program Analysis Collaboratory</a>. PI: Robert Dyer (2018-2020)</li>
                </ul>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-xs-4 col-md-2" align="center">
                <img alt="BGSU logo" style="background-color: #ff6b00;" src="http://www.bgsu.edu/etc/designs/bgsu-edu/clientlibs/images/logo.png" class="img-responsive"/>
            </div>
            <div class="col-xs-8 col-md-10">
                <p>The prototype infrastructure is supported by a generous startup grant provided by Bowling Green State University to Dr. Robert Dyer.</p>
            </div>
        </div>
    </div>
{% endblock %}
