{% extends 'website/layout.html' %}
{% block title %}{{ papers }}{% endblock %}
{%block body %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Year</th>
                            <th>Published</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ papers.title }}</td>
                            <td>{{ papers.author }}</td>
                            <td>{{ papers.year }}</td>
                            <td>{{ papers.publish }}</td>
                            <td>{{ papers.link }}</td>
                        </tr>
                    </tbody>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
