{% extends 'website/layout.html' %}
{% block title %}People{% endblock %}
{% block peopleactive %}active{% endblock %}
{% load groups %}
{% block body %}
    <div class="container-fluid">
        {% for person in allPeople %}
            {% if person.is_staff and person.is_active and person|inGroup:"Admin" %}
                <div class="row">
                    <div class="col-xs-2">
                        <img src="{{ person.profile.photo.url }}" class="img-responsive img-thumbnail"/>
                    </div>
                    <div class="col-xs-8">
                        <h2>{% if person.profile.isDoctor %}{{ person.profile.surname }} {% endif %}{{ person.first_name }} {{ person.last_name }}</h2>
                        <h4>Contact: {{ person.email }}</h4>
                    </div>
                    <div class="col-xs-8">
                        <p>{{ person.profile.bio }}</p>
                    </div>
                </div><br><br>
            {% endif %}
        {% endfor %}
        {% for person in allPeople %}
            {% if person.is_staff and person.is_active and person|inGroup:"Moderator" %}
                <div class="row">
                    <div class="col-xs-2">
                        <img src="{{ person.profile.photo.url }}" class="img-responsive img-thumbnail"/>
                    </div>
                    <div class="col-xs-8">
                        <h2>{% if person.profile.isDoctor %}{{ person.profile.surname }} {% endif %}{{ person.first_name }} {{ person.last_name }}</h2>
                        <h4>Contact: {{ person.email }}</h4>
                    </div>
                    <div class="col-xs-8">
                        <p>{{ person.profile.bio }}</p>
                    </div>
                </div><br><br>
            {% endif %}
        {% endfor %}
        {% for person in allPeople %}
            {% if person.is_staff and person.is_active and person|inGroup:"Retired" %}
                <div class="row">
                    <div class="col-xs-2">
                        <img src="{{ person.profile.photo.url }}" class="img-responsive img-thumbnail"/>
                    </div>
                    <div class="col-xs-8">
                        <h2>{% if person.profile.isDoctor %}{{ person.profile.surname }} {% endif %}{{ person.first_name }} {{ person.last_name }}</h2>
                        <h4>Contact: {{ person.email }}</h4>
                    </div>
                    <div class="col-xs-8">
                        <p>{{ person.profile.bio }}</p>
                    </div>
                </div><br><br>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
