{% extends 'website/base.html' %}
{% block title %}People{% endblock %}
{% block peopleactive %}active{% endblock %}
{% block body %}
    <div class="container">
        {% for person in allPeople %}
            {% if person.is_staff and person.is_active and person.profile.isAdmin %}
            {% include 'website/person.html' %}
            {% endif %}
        {% endfor %}
        {% for person in allPeople %}
            {% if person.is_staff and person.is_active and person.profile.isModerator %}
            {% include 'website/person.html' %}
            {% endif %}
        {% endfor %}
        {% for person in allPeople %}
            {% if person.is_staff and person.is_active and person.profile.isRetired %}
            {% include 'website/person.html' %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
