<div class="row">
    <div class="col-xs-4 col-md-2">
        <img alt="Profile photo for {{ person.first_name}} {{ person.last_name }}" src="{{ person.profile.photo.url }}" class="img-fluid img-thumbnail"/>
        <br/><br/>
    </div>
    <div class="col-xs-8 col-md-10">
        <h2>{{ person.profile.honorific }} {{ person.first_name }} {{ person.last_name }}</h2>
        <h4>Contact: {{ person.email }}</h4>
    </div>
    <div class="col-xs-8 col-md-10">
        <p>{{ person.profile.bio }}</p>
    </div>
</div><br><br>
