{% extends 'website/layout.html' %}
{% block title %}Project Selection{% endblock %}
{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-default" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages%}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ p_form.as_p }}
                    {% for form in f_form %}
                        {{ form.pfilter }}
                        {{ form.value }}
                        <span class="input-group-append">
                            <button class="btn btn-success add-form-row">+</button>
                        </span>
                    {% endfor %}
                    <br><br>
                    <button class="btn btn-default" style="display:block;" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}