{% extends 'website/layout.html' %}
{% block title %}Project Detail{% endblock %}
{% block body %}
    <div class="container">
        {% include 'website/messages.html' %}
        <div class="thumbnail">
            <h1 style="padding-left: 2%;">{{ project.slug }}</h1>
            <h2 style="padding-left: 2%;"><strong>Project Name: </strong><i>{{ project.input_dataset }}</i></h2>
            {% for filter in project.pfilter.all %}
                <p style="padding-left: 2%;"><strong>Filter Name: </strong>{{ filter.name }}</p>
                <p style="padding-left: 2%;"><strong>Filter Data Type: </strong>{{ filter.val_type }}</p>
                <p style="padding-left: 2%;"><strong>Filter Default Value: </strong>{{ filter.default_val }}</p>
                <br>
            {% endfor %}
            <h3>Sharing</h3>
            <p>Start typing the name of a valid registered email address</p>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'website/form.html' with form=form %}
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
    {% endblock %}

    {% block script %}
    <script>
        $('input:eq(1)').tagsInput({
            autocomplete_url: 'http://127.0.0.1:8000/ajax/search'
        });
    </script>
    {% endblock %}
