{% extends 'website/base.html' %}
{% load calc_finished_projects %}
{% load staticfiles %}
{% load humanize %}
{% block title %}Project Selection{% endblock %}
{% block body %}
    <div class="container">
        {% include 'website/messages.html' %}
        {% if user.is_authenticated %}
            <a href="{% url 'website:project_list' %}">Back to all project selections</a><br/><br/>
        {% endif %}
        {% if not is_done %}
            <div class="alert alert-warning">This selector is still processing</div>
        {% endif %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title"><strong>Project Selection</strong><div class="pull-right"><em>{{ project.slug }}</em></div></h1>
            </div>
            <div class="panel-body">
                <h4><strong>Selection Submitted:</strong> {{ project.submitted|naturaltime }}</h4>
                {% if is_done %}<h4><strong>Dataset Generated:</strong> {{ project.fin_process|naturaltime }}</h4>{% endif %}
                <h4><strong>Dataset Origin:</strong> {{ project.input_dataset }}</h4>
                <br/>
                <h4><strong>Discovered Projects:</strong> {{ project.project.all|length|intcomma }}</h4>
                <h4><strong>Projects Cloned:</strong> {{ cloned|intcomma }}</h4>
                <h4><strong>Benchmark Projects:</strong> {{ project|calc_finished_projects|intcomma }}{% if not is_done %} ({{ project|calc_remaining_projects }} still processing){% endif %}</h4>
                <br/>
                <h4><strong>Selection Criteria:</strong></h4>
                {% for filter in values %}
                    <h5 style="padding-left: 20px;"><strong>{{ filter.pfilter }}:</strong> {{ filter }}</h5>
                    {% if filter.status != 'PROCESSED' %}
                    <p style="padding-left: 20px;">Status: <em>{{ filter.status }}</em></p>
                    {% endif %}
                {% endfor %}
                {% if is_done %}
                    <br/>
                    {% if project|calc_finished_projects > 0 %}
                        {% if download_size > 0 %}
                            <h3><strong><a href="{% url 'website:download' project.slug %}">Download Benchmark</a> (zip)</strong></h3>
                            <h4>({{ download_size|filesizeformat }})</h4>
                        {% else %}
                            {% if download_size == 0 %}
                                <h3><strong>Benchmark currently generating (zip)</strong></h3>
                                <h4>(please be patient - this may take a few minutes)</h4>
                            {% else %}
                                <h3><strong><a href="{% url 'website:download' project.slug %}">Generate Benchmark</a> (zip)</strong></h3>
                                <h4>(please be patient and only click the above link once)</h4>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <h3><strong>No download available - no projects match criteria</strong></h3>
                    {% endif %}
                {% endif %}

                {% comment %}
                {% for url in project.project.all %}
                    <h4><strong>{{ url.url }}</strong></h4>
                    {% if not url.host %}
                        <p>Project has not been processed.</p>
                    {% elif url.host and url.date_processed == '' %}
                        <p>Project is processing</p>
                    {% elif url.host and url.date_processed != '' and not url.path %}
                        <p>Project did not clone</p>
                    {% else %}
                        <p>Project is done processing!</p>
                    {% endif %}
                {% endfor %}
                {% endcomment %}
            </div>
        </div>
        {% if user.profile.active_email %}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Share this project selection</h3>
                </div>
                <div class="panel-body">
                    <p>Enter a PAClab username or email address to share this project selection.</p>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'website/form.html' with form=form %}
                        <button class="btn btn-primary">Share</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'website/jquery.tagsinput.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'website/jquery.tagsinput.js' %}"></script>
    <script>
        $('input:eq(1)').tagsInput({
            autocomplete_url: '/api/usernames/',
            autocomplete: { minLength: 3 },
            defaultText: 'username/email'
        });
    </script>
{% endblock %}
