{% extends 'website/base.html' %}
{% load calc_finished_projects %}
{% load staticfiles %}
{% load humanize %}
{% block title %}Project Selection{% endblock %}
{% block body %}
    <div class="container">
        {% include 'website/messages.html' %}
        {% if user.is_authenticated %}
            <a href="{% url 'website:project_list' %}">Back to all project selections</a><br/><br/>
        {% endif %}
        {% if project.status == "READY" %}
            <div class="alert alert-info" role="alert">This selector is currently in the queue and has not started processing yet.</div>
        {% else %}
            {% if not is_done %}
                <div class="alert alert-warning" role="alert">This selector is still processing.</div>
            {% endif %}
        {% endif %}
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h1 class="panel-title"><strong>Project Selection</strong><div class="pull-right"><em>{{ project.slug }}</em></div></h1>
            </div>
            <div class="panel-body">
                <div class="btn-group pull-right clearfix">
                    {% if user.is_staff %}
                        <a href="{% url 'admin:website_projectselector_change' object_id=project.pk %}" role="button" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><span class="sr-only">Edit</span></a>
                    {% endif %}
                    <a href="{% url 'website:project_delete' slug=project.slug %}" role="button" class="btn btn-danger"{% if not project.enabled %} disabled="disabled"{% endif %}><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><span class="sr-only">Delete</span></a>
                </div>
                {% if not project.enabled %}
                    <div class="alert alert-danger">NOTE: this selector is deleted</div>
                {% endif %}
                <h4><strong>Selection Submitted:</strong> {{ project.submitted|naturaltime }}</h4>
                <h4><strong>Submitted By:</strong> {{ project.user }}</h4>
                <h4><strong>Dataset Origin:</strong> {{ project.input_dataset }}</h4>
                <br/>
                <h4><strong>Discovered Projects:</strong> {{ project.project.all|length|intcomma }}</h4>
                <h4><strong>Projects Cloned:</strong> {{ cloned|intcomma }}</h4>
                {% calc_finished_projects project as finished_count %}
                {% calc_remaining_projects project as remaining_count %}
                {% calc_remaining_percent finished_count remaining_count as remaining_count %}
                {% if finished_count > 0 %}
                    <h4><strong>Benchmark Projects:</strong> {{ finished_count|intcomma }}{% if not is_done %} ({{ remaining_count|intcomma }} still processing){% endif %}</h4>
                    {% if not is_done %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{ calc_remaining_percent }}%">
                                <span class="sr-only">{{ calc_remaining_percent }}% Complete</span>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <br/>
                <h4><strong>Selection Criteria:</strong></h4>
                {% for filter in values %}
                    <h5 style="padding-left: 20px;"><strong>{{ filter.pfilter }}:</strong> {{ filter|intcomma }}</h5>
                    {% if filter.status != 'PROCESSED' %}
                    <p style="padding-left: 20px;">Status: <em>{{ filter.status }}</em></p>
                    {% endif %}
                {% endfor %}
                {% if is_done %}
                    <br/>
                    <h4><strong>Dataset Generated:</strong> {{ project.fin_process|naturaltime }}</h4>
                    {% if finished_count > 0 %}
                        {% if download_size > 0 %}
                            <h3><strong><a href="{% url 'website:download' project.slug %}">Download Benchmark</a> (zip)</strong></h3>
                            <h4>({{ download_size|filesizeformat|intcomma }})</h4>
                        {% else %}
                            {% if download_size == 0 %}
                                <h3><strong>Benchmark currently generating (zip)</strong></h3>
                                <h4>(please be patient - this may take a few minutes)</h4>
                            {% else %}
                                <h3><strong><a href="{% url 'website:download' project.slug %}">Generate Benchmark</a> (zip)</strong></h3>
                                <h4>(please be patient and only click the above link once)</h4>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <h3><strong>No download available - no projects match criteria</strong></h3>
                    {% endif %}
                {% endif %}

                {% comment %}
                {% for url in project.project.all %}
                    <h4><strong>{{ url.url }}</strong></h4>
                    {% if not url.host %}
                        <p>Project has not been processed.</p>
                    {% elif url.host and url.date_processed == '' %}
                        <p>Project is processing</p>
                    {% elif url.host and url.date_processed != '' and not url.path %}
                        <p>Project did not clone</p>
                    {% else %}
                        <p>Project is done processing!</p>
                    {% endif %}
                {% endfor %}
                {% endcomment %}
            </div>
        </div>
        {% if user.profile.active_email %}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Share this project selection</h3>
                </div>
                <div class="panel-body">
                    <p>Enter any email address or a PAClab username to share this project selection.</p>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'website/form.html' with form=form %}
                        <button class="btn btn-primary">Share</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'website/jquery.tagsinput.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'website/jquery.tagsinput.js' %}"></script>
    <script>
        $('input:eq(1)').tagsInput({
            autocomplete_url: '/api/usernames/',
            autocomplete: { minLength: 3 },
            defaultText: 'username/email'
        });
    </script>
{% endblock %}
