SECRET_KEY = 'your-secret-key-from-previous-step'
DATABASE_URL = 'sqlite:////app/db.sqlite3' or url to your database
ERROR_LOG = '/app/error.log'
REPO_PATH = '/data/repos'
TRANSFORMED_PATH = '/data/transformed'
PACLAB_TRANSFORM_PATH = '/transformer'
DEBUG = True
USE_HIJACK = True
BOA_USER = 'your boa username'
BOA_PW = 'your boa password'
