SECRET_KEY = 'your-secret-key-from-previous-step'
ALLOWED_HOSTS = 'your-server-name' or 'localhost,127.0.0.1' if using django's packaged development server
DATABASE_URL = 'sqlite:////full/path/to/argv-www/db.sqlite3' or url to your database
BOA_USER = 'your boa username'
BOA_PW = 'your boa password'
REPO_PATH = '/path/to/store/repositories'
TRANSFORMED_PATH = '/path/to/store/transformed/projects'
TRANSFORMER_PATH = '/path/to/the/argv/transformer'
EMAIL_USER = 'gmail-smtp-email-username'
EMAIL_PASSWORD = 'gmail-smtp-email-password'
DEFAULT_FROM_EMAIL = 'ARG-V <your@email.com>'
ADMIN_NAME = 'Your Name'
ADMIN_EMAIL = 'your@email.com'
DEBUG = True
SESSION_COOKIE_SECURE = True
CSRF_COOKIE_SECURE = True
SECURE_SSL_REDIRECT = True
SECURE_HSTS_SECONDS = 31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS = True
SECURE_HSTS_PRELOAD = True
USE_HIJACK = False
ERROR_LOG = '/path/to/error.log'
