.navbar {
    border-radius: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
}

.footer {
    margin-top: auto;
    width: 100%;
    line-height: 1em;
    padding: 0.5em;
    background-color: #f5f5f5;
}

.footer .text-muted {
    margin-bottom: 0;
}

.top-buffer {
    margin-top:20px;
}

/* for dragging modal dialogs */
.modal.fade.ui-draggable-dragging {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}

.modal-draggable .modal-header:hover {
    cursor: move;
}

.modal-draggable .modal-backdrop {
    position: fixed;
}

.modal-draggable {
    overflow: hidden ! important;
}

/* for the profile photo cropper */
.cropper-container {
    max-width: 100%;
}

.profile-dropdown .dropdown-toggle {
    padding-top: 6px;
    padding-bottom: 6px;
}

.profile-dropdown .img-responsive {
    display: inline;
}

input[type="checkbox"] {
    display: inline-block;
    width: auto;
    height: auto;
}