{% extends 'website/base.html' %}
{% load calc_finished_projects %}
{% load staticfiles %}
{% load humanize %}
{% block title %}Project Selection{% endblock %}
{% block body %}
    <div class="container">
        {% include 'website/messages.html' %}
        {% if user.is_authenticated %}
            <a href="{% url 'website:list_selections' %}">Back to all project selections</a><br/><br/>
        {% endif %}
        {% if project.enabled %}
            {% if project.status == "READY" %}
                <div class="alert alert-info" role="alert">This selection is currently in the queue and has not started processing yet.</div>
            {% else %}
                {% if not project.isDone %}
                    <div class="alert alert-warning" role="alert">This selection is still processing.</div>
                {% endif %}
            {% endif %}
        {% endif %}
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h1 class="panel-title"><strong>Project Selection</strong><div class="pull-right"><em>{{ project.slug }}</em></div></h1>
            </div>
            <div class="panel-body">
                {% if not project.enabled %}
                    <div class="alert alert-danger">NOTE: this selection is marked deleted</div>
                {% endif %}
                <div class="pull-right clearfix">
                    <div class="btn-group">
                        {% include 'website/button.html' with disabled=False enabled=True type='default' icon='duplicate' text='' title='Duplicate' targeturl='' %}
                        {% url 'website:create_transform_selection' slug=project.slug as targeturl %}
                        {% include 'website/button.html' with disabled=False enabled=project.isDone type='success' icon='random' text='' title='Transform' %}
                    </div>
                    <div class="btn-group">
                        {% if project.enabled %}
                            {% url 'website:delete_selection' slug=project.slug as targeturl %}
                            {% include 'website/button.html' with disabled=False enabled=True type='danger' icon='trash' text='' title='Delete' %}
                        {% else %}
                            {% url 'website:restore_selection' slug=project.slug as targeturl %}
                            {% include 'website/button.html' with disabled=False enabled=True type='warning' icon='ok-sign' text='' title='Restore' %}
                        {% endif %}
                    </div>
                </div>
                <h4><strong>Selection Submitted:</strong> <span title="{{ project.submitted }}">{{ project.submitted|naturaltime }}</span></h4>
                <h4><strong>Submitted By:</strong> {{ project.user }}</h4>
                <h4><strong>Dataset Origin:</strong> {{ project.input_dataset }}</h4>
                <br/>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Selection Criteria</strong></h3>
                    </div>
                    <div class="panel-body">
                        {% for filter in values %}
                            <h5><strong>{{ filter.pfilter }}:</strong> {{ filter|intcomma }}</h5>
                            {% if filter.status != 'PROCESSED' %}
                            <p>Status: <em>{{ filter.status }}</em></p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <h4><strong>Discovered Projects:</strong> {{ project.project.all|length|intcomma }}</h4>
                <h4><strong>Projects Cloned:</strong> {{ cloned|intcomma }}</h4>
                {% calc_finished_projects project as finished_count %}
                {% calc_remaining_projects project as remaining_count %}
                {% calc_finished_percent finished_count remaining_count as finished_pct %}
                {% if finished_count > 0 %}
                    <h4><strong>Projects Retained:</strong> {{ finished_count|intcomma }}</h4>
                    {% if not project.isDone %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{ finished_pct }}" aria-valuemin="0" aria-valuemax="100" title="{{ finished_pct }}% complete" style="width: {{ finished_pct }}%">
                                <span class="sr-only">{{ finished_pct }}% Complete</span>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {% if project.isDone %}
                    <br/>
                    <h4><strong>Dataset Generated:</strong> <span title="{{ project.fin_process }}">{{ project.fin_process|naturaltime }}</span></h4>
                    {% if finished_count > 0 %}
                        {% if download_size > 0 %}
                            <h3><strong><a href="{% url 'website:download_selection' project.slug %}">Download Dataset</a> (zip)</strong></h3>
                            <h4>({{ download_size|filesizeformat|intcomma }})</h4>
                        {% else %}
                            {% if download_size == 0 %}
                                <h3><strong>Dataset currently generating (zip)</strong></h3>
                                <h4>(please be patient - this may take a few minutes)</h4>
                            {% else %}
                                <h3><strong><a href="{% url 'website:download_selection' project.slug %}">Generate Dataset</a> (zip)</strong></h3>
                                <h4>(please be patient and only click the above link once)</h4>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <h3><strong>No download available - no projects match criteria</strong></h3>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if project.isDone and user.profile.active_email %}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Share this project selection</h3>
                </div>
                <div class="panel-body">
                    <p>Enter any email address or a PAClab username to share this project selection.</p>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'website/form.html' %}
                        <button class="btn btn-primary">Share</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'website/jquery.tagsinput.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'website/jquery.tagsinput.js' %}"></script>
    <script>
        $('input:eq(1)').tagsInput({
            autocomplete_url: '/api/usernames/',
            autocomplete: { minLength: 3 },
            defaultText: 'username/email'
        });
    </script>
{% endblock %}
