{% extends 'website/layout.html' %}
{% block title %}Password Reset{% endblock %}
{% block profileactive %}active{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form form-default" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages%}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
