{% extends 'website/base.html' %}
{% block title %}Password Reset Confirm{% endblock %}
{% block profileactive %}active{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form form-default" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'website/messages.html' %}
                    {% include 'website/form.html' with form=form %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
