{% extends "website/base.html" %}
{% block title %}Project Transform{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Project Transform</h3>
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                {% include 'website/messages.html' %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-2 col-sm-4">
                        <label class="pull-right">Transformer:</label>
                    </div>
                    <div class="col-xs-10 col-sm-8">
                        <div class="form-inline">
                            {{form.transform}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary pull-right">Create</button>
                    </div>
                </div>
            </form><br>
        </div>
    </div>
</div>
{% endblock %}
