{% extends "website/base.html" %}
{% block title %}Project Transform{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Project Transform</h3>
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                {% include 'website/messages.html' %}
                {% include 'website/form-header.html' %}
                <div class="row">
                    <div class="col-xs-2 col-sm-4">
                        <label class="pull-right">Dataset Origin:</label>
                    </div>
                    <div class="col-xs-2 col-sm-4">
                        {% if src_selector %}
                            <a target="_blank" href="{% url 'website:selection_detail' slug=src_selector %}">selection {{ src_selector }}</a>
                        {% else %}
                            <a target="_blank" href="{% url 'website:transform_detail' slug=src_transformer %}">transform {{ src_transformer }}</a>
                        {% endif %}
                        </div>
                    </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-4">
                        <label class="pull-right">Transformer:</label>
                    </div>
                    <div class="col-xs-10 col-sm-8">
                        <div class="form-inline">
                            {{form.transform}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary pull-right">Create</button>
                    </div>
                </div>
            </form><br>
        </div>
    </div>
</div>
{% endblock %}
