{% extends 'website/base.html' %}
{% load calc_finished_projects %}
{% load static %}
{% load humanize %}
{% block title %}Project Transformers{% endblock %}
{% block body %}
    <div class="container">
        {% include 'website/messages.html' %}
        {% include 'website/item-status.html' with item=transformer name="transform" %}
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h1 class="panel-title">
                    <strong>Project Transform</strong>
                    {% if isowner %}
                        <form class="pull-right" id="slugform" method="POST" style="display: none;">
                            {% csrf_token %}
                            <input type="text" name="newslug" size="40" />
                            <button class="btn btn-success btn-xs">Rename</button>
                            <button class="btn btn-xs btn-danger">Cancel</button>
                        </form>
                    {% endif %}
                    <div id="slugbox" class="pull-right"><em id="slugname">{{ transformer.slug }}</em>{% if isowner %}{% include 'website/button.html' with name='editslug' targeturl='#' disabled=False enabled=True type='default btn-xs' icon='edit' text='' title='Rename' %}{% endif %}</div>
                </h1>
            </div>
            {% if transformer.parent %}
                <div class="panel-note clearfix"><div class="pull-right">duplicated from <a href="{% url 'website:transform_detail' slug=transformer.parent %}">{{ transformer.parent }}</a></div></div>
            {% endif %}
            <div class="panel-body">
                {% if not transformer.enabled %}
                    <div class="alert alert-danger">NOTE: this transform is deleted</div>
                {% endif %}
                <div class="pull-right clearfix">
                    <div class="btn-group">
                        {% url 'website:transform_duplicate' slug=transformer.slug as targeturl %}
                        {% include 'website/button.html' with disabled=False enabled=True type='default' icon='duplicate' text='' title='Duplicate' name='' %}
                        {% url 'website:create_transform_transform' slug=transformer.slug as targeturl %}
                        {% include 'website/button.html' with disabled=False enabled=transformer.isDone type='success' icon='random' text='' title='Transform' name='' %}
                    </div>
                    {% if isowner %}
                        <div class="btn-group">
                            {% if transformer.enabled %}
                                {% url 'website:delete_transform' slug=transformer.slug as targeturl %}
                                {% include 'website/button.html' with disabled=False enabled=True type='danger' icon='trash' text='' title='Delete' name='' %}
                            {% else %}
                                {% url 'website:restore_transform' slug=transformer.slug as targeturl %}
                                {% include 'website/button.html' with disabled=False enabled=True type='warning' icon='ok-sign' text='' title='Restore' name='' %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <h4><strong>Transform Submitted:</strong> <span title="{{ transformer.created }}">{{ transformer.created|naturaltime }}</span></h4>
                <h4><strong>Submitted By:</strong> {{ transformer.user }}</h4>
                {% if transformer.src_selector %}
                    <h4><strong>Dataset Origin:</strong> <a href="{% url 'website:selection_detail' slug=transformer.src_selector %}">selection {{ transformer.src_selector }}</a></h4>
                {% else %}
                    <h4><strong>Dataset Origin:</strong> <a href="{% url 'website:transform_detail' slug=transformer.src_transformer %}">transform {{ transformer.src_transformer }}</a></h4>
                {% endif %}
                <br/>
                <h4><strong>Transformer:</strong> {{ transform.name }}</h4>
                {% if values %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Transform Parameters</strong></h3>
                        </div>
                        <div class="panel-body">
                            {% for param in values %}
                                <h5><strong>{{ param.parameter.name }}:</strong> {{ param.value }}</h5>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <br/>
                <h4><strong>Input Projects:</strong> {{ transformer.input_project_count|intcomma }}
                    <div class="btn-group">
                        {% url 'website:transform_inspect' slug=transformer.slug as targeturl %}
                        {% include 'website/button.html' with disabled=False enabled=True type='default btn-xs' icon='search' text='' title='Inspect Input Projects' name='' %}
                        {% url 'website:export_transform_csv' slug=transformer.slug as targeturl %}
                        {% include 'website/button.html' with disabled=False enabled=True type='default btn-xs' icon='save' text='' title='Export Input Projects (CSV)' name='' %}
                    </div>
                </h4>
                <h4><strong>Projects Transformed:</strong> {{ transformer.project_count|intcomma }}
                    <div class="btn-group">
                        {% url 'website:transform_inspect_transformed' slug=transformer.slug as targeturl %}
                        {% include 'website/button.html' with disabled=False enabled=True type='default btn-xs' icon='search' text='' title='Inspect Transformed Projects' name='' %}
                        {% url 'website:export_transform_transformed_csv' slug=transformer.slug as targeturl %}
                        {% include 'website/button.html' with disabled=False enabled=True type='default btn-xs' icon='save' text='' title='Export Transformed Projects (CSV)' name='' %}
                    </div>
                </h4>
                {% calc_finished_percent transformer.project_count transformer.remaining_count as finished_pct %}
                {% if not transformer.isDone %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{ finished_pct }}" aria-valuemin="0" aria-valuemax="100" title="{{ finished_pct }}% complete" style="width: {{ finished_pct }}%">
                            <span class="sr-only">{{ finished_pct }}% Complete</span>
                        </div>
                    </div>
                {% endif %}
                {% if transformed > 0 %}
                    <h4><strong>Projects Retained:</strong> {{ transformer.retained_count|intcomma }}
                        <div class="btn-group">
                            {% url 'website:transform_inspect_retained' slug=transformer.slug as targeturl %}
                            {% include 'website/button.html' with disabled=False enabled=True type='default btn-xs' icon='search' text='' title='Inspect Retained Projects' name='' %}
                            {% url 'website:export_transform_retained_csv' slug=transformer.slug as targeturl %}
                            {% include 'website/button.html' with disabled=False enabled=True type='default btn-xs' icon='save' text='' title='Export Retained Projects (CSV)' name='' %}
                        </div>
                    </h4>
                {% endif %}
                {% if transformer.isDone %}
                    <br/>
                    <h4><strong>Dataset Generated:</strong> <span title="{{ transformer.datetime_processed }}">{{ transformer.datetime_processed|naturaltime }}</span></h4>
                    {% if retained > 0 %}
                        {% if download_size > 0 %}
                            <h3><strong><a href="{% url 'website:download_transform' transformer.slug %}">Download Dataset</a> (zip)</strong></h3>
                            <h4>({{ download_size|filesizeformat|intcomma }})</h4>
                        {% else %}
                            {% if download_size == 0 %}
                                <h3><strong>Dataset currently generating (zip)</strong></h3>
                                <h4>(please be patient - this may take a few minutes)</h4>
                            {% else %}
                                <h3><strong><a href="{% url 'website:download_transform' transformer.slug %}">Generate Dataset</a> (zip)</strong></h3>
                                <h4>(please be patient and only click the above link once)</h4>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <h3><strong>No download available - no projects match criteria</strong></h3>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if form %}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Share this project transform</h3>
                </div>
                <div class="panel-body">
                    <p>Enter any email address or a ARG-V username to share this project transform.</p>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'website/form.html' %}
                        <button class="btn btn-primary">Share</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'website/jquery.tagsinput.css' %}">
{% endblock %}

{% block script %}
    {% if isowner %}
    <script>
        var api_url = "{% url 'website:api_rename_transform' slug=transformer.slug %}";
        var self_url = "{% url 'website:transform_detail' slug=transformer.slug %}";
        var originalslug = "{{ transformer.slug }}";

        function setSlug(slug) {
            if (slug.startsWith('{{ user.username }}:'))
                slug = slug.substring('{{ user.username }}:'.length)
            $('#slugform > input[name="newslug"]').val(slug);
        }

        setSlug(originalslug);

        $(document).keyup(function(e) {
            if (e.key === "Escape" && $('#slugform').is(":visible")) {
                $('#slugbox').show();
                $('#slugform').hide();
            }
        });

        // the edit button
        $(document).on('click', 'a[name="editslug"]', function(e) {
            e.preventDefault();

            $('#slugbox').hide();
            $('#slugform').show();
            $('#slugform > input[name="newslug"]').select();
            $('#slugform > input[name="newslug"]').focus();
        });

        // rename button
        $(document).on('click', '#slugform > .btn-success', function(e) {
            e.preventDefault();

            var newslug = $('#slugform > input[name="newslug"]').val();
            if (newslug == originalslug) {
                $('#slugbox').show();
                $('#slugform').hide();
                return;
            }

            $.post(api_url, {
                slug: newslug,
                csrfmiddlewaretoken: $('#slugform > input[name="csrfmiddlewaretoken"]').val()
            }).done(function(data) {
                newslug = data.slug;

                api_url = api_url.replace(originalslug, newslug);
                self_url = self_url.replace(originalslug, newslug);

                $('#slugbox').show();
                $('#slugform').hide();

                $('#slugname').animate({ opacity: 0 }, 'fast');
                $('#slugname').text(newslug);
                $('#slugname').animate({ opacity: 1 }, 'slow');

                history.replaceState(null, '', [self_url])
                originalslug = newslug;
                setSlug(originalslug);
            }).fail(function() {
                $('#slugbox').show();
                $('#slugform').hide();

                setSlug(originalslug);

                $('#slugname').animate({ opacity: 0 }, 'fast');
                $('#slugname').animate({ opacity: 1 }, 'fast');
                $('#slugname').animate({ opacity: 0 }, 'fast');
                $('#slugname').animate({ opacity: 1 }, 'fast');
            });
        });

        // cancel button
        $(document).on('click', '#slugform > .btn-danger', function(e) {
            e.preventDefault();
            $('#slugbox').show();
            $('#slugform').hide();
            setSlug(originalslug);
        });
    </script>
    {% endif %}
    <script src="{% static 'website/jquery.tagsinput.js' %}"></script>
    <script>
        $('#id_email').tagsInput({
            autocomplete_url: '/api/usernames/',
            autocomplete: { minLength: 3 },
            defaultText: 'username/email'
        });
    </script>
{% endblock %}
