<h2>4. Conduct on Site</h2>

<p>Your use of the site is subject to all applicable laws and regulations, and
you are solely responsible for the substance of your communications through the
site. By posting information in or otherwise using any communications service,
or other interactive service that may be available to you on or through this
site, you agree that you will not upload, share, post, or otherwise distribute
or facilitate distribution of any content -- including text, communications,
software, images, sounds, data, or other information -- that:</p>

<p>a. is unlawful, threatening, abusive, harassing, defamatory, libelous,
deceptive, fraudulent, invasive of another's privacy, tortious, contains
explicit or graphic descriptions or accounts of sexual acts (including but not
limited to sexual language of a violent or threatening nature directed at
another individual or group of individuals), or otherwise violates our rules or
policies;</p>

<p>b. victimizes, harasses, degrades, or intimidates an individual or group of
individuals on the basis of religion, gender, sexual orientation, race,
ethnicity, age, or disability;</p>

<p>c. infringes on any patent, trademark, trade secret, copyright, right of
publicity, or other proprietary right of any party;</p>

<p>d. constitutes unauthorized or unsolicited advertising, junk or bulk email
(also known as &quot;spamming&quot;), chain letters, any other form of
unauthorized solicitation, or any form of lottery or gambling;</p>

<p>e. contains software viruses or any other computer code, files, or programs
that are designed or intended to disrupt, damage, or limit the functioning of
any software, hardware, or telecommunications equipment or to damage or obtain
unauthorized access to any data or other information of any third party; or</p>

<p>f. impersonates any person or entity, including any of our employees or
representatives.</p>

<p>We neither endorse nor assume any liability for the contents of any material
uploaded or submitted by third party users of the site. We generally do not
pre-screen, monitor, or edit the content posted by users of communications
services, or other interactive services that may be available on or through
this site. However, we and our agents have the right at their sole discretion
to remove any content that, in our judgment, does not comply with these Terms
of Use and any other rules of user conduct for our site, or is otherwise
harmful, objectionable, or inaccurate. We are not responsible for any failure
or delay in removing such content. You hereby consent to such removal and waive
any claim against us arising out of such removal of content. See &quot;Use of
Your Materials&quot; below for a description of the procedures to be followed
in the event that any party believes that content posted on this site infringes
on any patent, trademark, trade secret, copyright, right of publicity, or other
proprietary right of any party.</p>

<p>In addition, you may not use your account to breach security of another
account or attempt to gain unauthorized access to another network or server.
Not all areas of the site may be available to you or other authorized users of
the site. You shall not interfere with anyone else's use and enjoyment of
the site or other similar services. Users who violate systems or network
security may incur criminal or civil liability.</p>

<p>You agree that we may at any time, and at our sole discretion, terminate
your membership, account, or other affiliation with our site without prior
notice to you for violating any of the above provisions. In addition, you
acknowledge that we will cooperate fully with investigations of violations of
systems or network security at other sites, including cooperating with law
enforcement authorities in investigating suspected criminal violations.</p>
