<h2>8. Disclaimer of Warranties</h2>

<p>ALL MATERIALS AND SERVICES ON THIS SITE ARE PROVIDED ON AN &quot;AS IS&quot;
AND &quot;AS AVAILABLE&quot; BASIS WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS
OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR THE WARRANTY OF
NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, WE MAKE NO WARRANTY THAT (A)
THE SERVICES AND MATERIALS WILL MEET YOUR REQUIREMENTS, (B) THE SERVICES AND
MATERIALS WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (C) THE RESULTS
THAT MAY BE OBTAINED FROM THE USE OF THE SERVICES OR MATERIALS WILL BE
EFFECTIVE, ACCURATE OR RELIABLE, OR (D) THE QUALITY OF ANY PRODUCTS, SERVICES,
OR INFORMATION PURCHASED OR OBTAINED BY YOU FROM THE SITE FROM US OR OUR
AFFILIATES WILL MEET YOUR EXPECTATIONS OR BE FREE FROM MISTAKES, ERRORS OR
DEFECTS.</p>

<p>THIS SITE COULD INCLUDE TECHNICAL OR OTHER MISTAKES, INACCURACIES OR
TYPOGRAPHICAL ERRORS. WE MAY MAKE CHANGES TO THE MATERIALS AND SERVICES AT THIS
SITE, INCLUDING THE PRICES AND DESCRIPTIONS OF ANY PRODUCTS LISTED HEREIN, AT
ANY TIME WITHOUT NOTICE. THE MATERIALS OR SERVICES AT THIS SITE MAY BE OUT OF
DATE, AND WE MAKE NO COMMITMENT TO UPDATE SUCH MATERIALS OR SERVICES.</p>

<p>THE USE OF THE SERVICES OR THE DOWNLOADING OR OTHER ACQUISITION OF ANY
MATERIALS THROUGH THIS SITE IS DONE AT YOUR OWN DISCRETION AND RISK AND WITH
YOUR AGREEMENT THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR
COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM SUCH ACTIVITIES.</p>

<p>Through your use of the site, you may have the opportunities to engage in
commercial transactions with other users and vendors. You acknowledge that all
transactions relating to any merchandise or services offered by any party,
including, but not limited to the purchase terms, payment terms, warranties,
guarantees, maintenance and delivery terms relating to such transactions, are
agreed to solely between the seller or purchaser of such merchandize and
services and you. WE MAKE NO WARRANTY REGARDING ANY TRANSACTIONS EXECUTED
THROUGH, OR IN CONNECTION WITH THIS SITE, AND YOU UNDERSTAND AND AGREE THAT
SUCH TRANSACTIONS ARE CONDUCTED ENTIRELY AT YOUR OWN RISK. ANY WARRANTY THAT IS
PROVIDED IN CONNECTION WITH ANY PRODUCTS, SERVICES, MATERIALS, OR INFORMATION
AVAILABLE ON OR THROUGH THIS SITE FROM A THIRD PARTY IS PROVIDED SOLELY BY SUCH
THIRD PARTY, AND NOT BY US OR ANY OTHER OF OUR AFFILIATES.</p>

<p>Content available through this site often represents the opinions and
judgments of an information provider, site user, or other person or entity not
connected with us. We do not endorse, nor are we responsible for the accuracy
or reliability of, any opinion, advice, or statement made by anyone other than
an authorized PAClab spokesperson speaking in his/her official capacity. Please
refer to the specific editorial policies posted on various sections of this
site for further information, which policies are incorporated by reference into
these Terms of Use.</p>

<p>You understand and agree that temporary interruptions of the services
available through this site may occur as normal events. You further understand
and agree that we have no control over third party networks you may access in
the course of the use of this site, and therefore, delays and disruption of
other network transmissions are completely beyond our control.</p>

<p>You understand and agree that the services available on this site are
provided &quot;AS IS&quot; and that we assume no responsibility for the
timeliness, deletion, mis-delivery or failure to store any user communications
or personalization settings.</p>

<p>SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN
WARRANTIES, SO SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>