<h2>16. Entire Agreement</h2>

<p>These terms and conditions constitute the entire agreement and understanding
between us concerning the subject matter of this agreement and supersedes all
prior agreements and understandings of the parties with respect to that subject
matter. These Terms of Use may not be altered, supplemented, or amended by the
use of any other document(s). Any attempt to alter, supplement or amend this
document or to enter an order for products or services which are subject to
additional or altered terms and conditions shall be null and void, unless
otherwise agreed to in a written agreement signed by you and us. To the extent
that anything in or associated with this site is in conflict or inconsistent
with these Terms of Use, these Terms of Use shall take precedence.</p>