<h2>12. International Use</h2>

<p>Although this site may be accessible worldwide, we make no representation
that materials on this site are appropriate or available for use in locations
outside the United States, and accessing them from territories where their
contents are illegal is prohibited. Those who choose to access this site from
other locations do so on their own initiative and are responsible for
compliance with local laws. Any offer for any product, service, and/or
information made in connection with this site is void where prohibited.</p>