<h2>17. Miscellaneous</h2>

<p>In any action to enforce these Terms of Use, the prevailing party will be
entitled to costs and attorneys' fees. Any cause of action brought by you
against us or our Affiliates must be instituted with one year after the cause
of action arises or be deemed forever waived and barred.</p>

<p>You may not assign your rights and obligations under these Terms of Use to
any party, and any purported attempt to do so will be null and void. We may
free assign our rights and obligations under these Terms of Use.</p>

<p>You agree not to sell, resell, reproduce, duplicate, copy or use for any
commercial purposes any portion of this site, or use of or access to this
site.</p>

<p>In addition to any excuse provided by applicable law, we shall be excused
from liability for non-delivery or delay in delivery of products and services
available through our site arising from any event beyond our reasonable
control, whether or not foreseeable by either party, including but not limited
to, labor disturbance, war, fire, accident, adverse weather, inability to
secure transportation, governmental act or regulation, and other causes or
events beyond our reasonable control, whether or not similar to those which are
enumerated above.</p>

<p>If any part of these Terms of Use is held invalid or unenforceable, that
portion shall be construed in a manner consistent with applicable law to
reflect, as nearly as possible, the original intentions of the parties, and the
remaining portions shall remain in full force and effect.</p>

<p>Any failure by us to enforce or exercise any provision of these Terms of Use
or related rights shall not constitute a waiver of that right or provision.</p>