<h2>3. Registration Data and Privacy</h2>

<p>In order to access some of the services on this site, you will be required
to use an account and password that can be obtained by completing our online
registration form, which requests certain information and data
(&quot;Registration Data&quot;), and maintaining and updating your Registration
Data as required. By registering, you agree that all information provided in
the Registration Data is true and accurate and that you will maintain and
update this information as required in order to keep it current, complete, and
accurate.</p>

<p>You also grant us the right to disclose to third parties certain
Registration Data about you. The information we obtain through your use of this
site, including your Registration Data, is subject to our <u>Privacy
Policy</u>, which is specifically incorporated by reference into these Terms of
Use.</p>