<h2>11. Security and Password</h2>

<p>You are solely responsible for maintaining the confidentiality of your
password and account and for any and all statements made and acts or omissions
that occur through the use of your password and account. Therefore, you must
take steps to ensure that others do not gain access to your password and
account. We will never ask you for your password. You may not
transfer or share your account with anyone, and we reserve the right to
immediately terminate your account  if you do transfer or share your
account.</p>