<h2>2. Description of Services</h2>

<p>We make various services available on this site. You are responsible for
providing, at your own expense, all equipment necessary to use the services,
including a computer, modem, and Internet access (including payment of all fees
associated with such access).</p>

<p>We reserve the sole right to either modify or discontinue the site,
including any of the site's features, at any time with or without notice to
you. We will not be liable to you or any third party should we exercise such
right. Any new features that augment or enhance the then-current services on
this site shall also be subject to these Terms of Use.</p>