<h2>13. Termination of Use</h2>

<p>You agree that we may, in our sole discretion, terminate or suspend your
access to all or part of the site with or without notice and for any reason,
including, without limitation, breach of these Terms of Use. Any suspected
fraudulent, abusive or illegal activity may be grounds for terminating your
relationship and may be referred to appropriate law enforcement
authorities.</p>

<p>Upon termination or suspension, regardless of the reasons therefore, your
right to use the services available on this site immediately ceases, and you
acknowledge and agree that we may immediately deactivate or delete your account
and all related information and files in your account and/or bar any further
access to such files or this site. We shall not be liable to you or any third
party for any claims or damages arising out of any termination or suspension or
any other actions taken by us in connection with such termination or
suspension.</p>