<h2>5. Third Party Sites and Information</h2>

<p>This site may link you to other sites on the Internet or otherwise include
references to information, documents, software, materials and/or services
provided by other parties. These sites may contain information or material that
some people may find inappropriate or offensive. These other sites and parties
are not under our control, and you acknowledge that we are not responsible for
the accuracy, copyright compliance, legality, decency, or any other aspect of
the content of such sites, nor are we responsible for errors or omissions in
any references to other parties or their products and services. The inclusion
of such a link or reference is provided merely as a convenience and does not
imply endorsement of, or association with, the site or party by us, or any
warranty of any kind, either express or implied.</p>