<h2>7. Unauthorized Use of Materials</h2>

<p>Subject to our Privacy Policy, any communication or material that you
transmit to this site or to us, whether by electronic mail, post, or other
means, for any reason, will be treated as non-confidential and non-proprietary.
While you retain all rights in such communications or material, you grant us
and our agents and affiliates a non-exclusive, paid-up, perpetual, and
worldwide right to copy, distribute, display, perform, publish, translate,
adapt, modify, and otherwise use such material for any purpose regardless of
the form or medium (now known or not currently known) in which it is used.</p>