{% if widget.is_initial %}<span id="id_{{widget.name}}_initial_text">{{ widget.initial_text }}:</span><br/><img alt="{{ widget.initial_text }}" id="id_{{widget.name}}_preview" width="{{ widget.value.width }}" height="{{ widget.value.height }}" src="{{ widget.value.url }}" />{% if not widget.required %}
<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
<label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>{% endif %}<br>
{{ widget.input_text }}:{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
