{% extends 'website/base.html' %}
{% block title %}Register{% endblock %}
{% block registeractive %}active{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form form-default" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'website/messages.html' %}
                    {% include 'website/form.html' %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <div tabindex="-1" id="termsModal" class="modal fade modal-fullscreen modal-scrollable" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-mobile-text="Close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Terms of Use</h4>
                            </div>
                            <div class="modal-body">
                                {% include 'website/policies/agreement/terms.html' %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div tabindex="-1" id="privacyModal" class="modal fade modal-fullscreen modal-scrollable" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-mobile-text="Close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Privacy Policy</h4>
                            </div>
                            <div class="modal-body">
                                {% include 'website/policies/agreement/privacy.html' %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <p><a href="{% url 'website:password_reset' %}">Forgot Password?</a></p>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    $("#termsModal").on("shown.bs.modal", function () {
        $('.btn-default').focus()
    });
    $("#privacyModal").on("shown.bs.modal", function () {
        $('.btn-default').focus()
    });
</script>
{% endblock %}
